<div class="row example-flex-container col-md-6 offset-md-3">
  <div class="example-button-container">
    <button mat-fab color="basic" (click)="openSettings()" aria-label="Example icon button with a plus one icon" disabled>
      <mat-icon>settings</mat-icon>
    </button>
  </div>
  <div class="example-button-container">
    <button mat-fab color="basic" (click)="launch()" aria-label="Example icon button with a plus one icon" disabled>
      <mat-icon>play_circle</mat-icon>
    </button>
  </div>
  <div class="example-button-container">
    <button mat-fab color="basic" (click)="runStep()" aria-label="Example icon button with a plus one icon">
      <mat-icon>skip_next</mat-icon>
    </button>
  </div>
</div>
