<mat-grid-list cols="{{nbColumns}}" rowHeight="fit" gutterSize="1rem">
  <mat-grid-tile *ngFor="let cell of cellList">
    <mat-card *ngIf="cell.type==TreeStatus.TREE">
      <img src="./assets/images/tree.png" class="img-responsive" alt="Tree">
    </mat-card>
    <mat-card *ngIf="cell.type==TreeStatus.FIRE">
      <img src="./assets/images/fire.png" class="img-responsive" alt="Fire">
    </mat-card>
    <mat-card *ngIf="cell.type==TreeStatus.CINDER">
      <img src="./assets/images/cinder.png" class="img-responsive" alt="Cinder">
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
