<mat-grid-list cols="{{nbColumns}}" rowHeight="8rem" gutterSize="1rem">
  <mat-grid-tile class="m-0" *ngFor="let tree of treeList">
    <mat-card *ngIf="tree.status==TreeStatus.NORMAL" class="example-card">
      <img mat-card-md-image src="./assets/images/tree.png" alt="Tree">
    </mat-card>
    <mat-card *ngIf="tree.status==TreeStatus.FIRE" class="example-card">
      <img mat-card-md-image src="./assets/images/fire.png" alt="Fire">
    </mat-card>
    <mat-card *ngIf="tree.status==TreeStatus.CINDER" class="example-card">
      <img mat-card-md-image src="./assets/images/cinder.png" alt="Cinder">
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
