<main class="main">
  <div class="container">
    <!--    Application title-->
    <div class="row">
      <h1 class="text-center">Wildfire</h1>
    </div>
    <!--    Grid-->
    <div class="row">
      <app-grid [cellList]="settings.grid.cellList" [nbColumns]="settings.nbCols"/>
    </div>
    <!--    Step-->
    <div class="row">
      <h2 class="text-center">Step {{settings.grid.step}}</h2>
    </div>
    <!--    Actions-->
    <div class="row">
      <app-actions [(currentGrid)]="settings.grid"/>
    </div>
  </div>
</main>
