<main class="main">
  <div class="container">
    <!-- Application title -->
    <div class="row">
      <h1 class="text-center">Wildfire</h1>
    </div>
    <!-- Grid -->
    <div class="row">
      <app-grid [cellList]="game.grid.cellList" [nbColumns]="game.nbCols"/>
    </div>
    <!-- Step -->
    <div class="row">
      <h2 class="text-center">Step : {{game.step}}</h2>
    </div>
    <!-- Erreur -->
    <div class="row">
      <h2 *ngIf="error" class="text-center">Erreur : {{error}}</h2>
    </div>
    <!-- Actions -->
    <div class="row">
      <app-actions [(currentGame)]="game" (errorChange)="onError($event)"/>
    </div>
  </div>
</main>
